<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WSR2018.Properties.Settings.MarathonSkillsConnectionString"
            connectionString="Data Source=GK204_6;Initial Catalog=MarathonSkills;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>
<!--
GK204_6
DESKTOP-3O59400 -->